<body class="sidebar">
{{ if .Node }}
<amp-state id="pageSelect"><script type="application/json">
    {
     "id": "",
     "tp": "home"
    }
  </script></amp-state>
{{template "app_gohtml" .}}
{{else}}
{{template "addnode_gohtml" .}}
{{end}}
</body>