<header>
<button on="tap:AMP.setState({id: 'home', tp: 'home'})">ParallelCoin Blockchain Explorer</button>
<button on="tap:AMP.setState({id: '',tp: 'home'})">Home</button>
<button on="tap:AMP.setState({id: '',tp: 'nodes'})">Nodes</button>
<button on="tap:AMP.setState({id: '',tp: 'rich'})">Rich</button>
<button on="tap:AMP.setState({id: '',tp: 'settings'})">Settings</button>
</header>