<section [hidden]="!(tp == 'home')">{{template "home_gohtml" .}}</section>
<section hidden [hidden]="!(tp == 'explorer')">{{template "explorer_gohtml" .}}</section>
<section hidden [hidden]="!(tp == 'block')">{{template "block_gohtml" .}}</section>
<section hidden [hidden]="!(tp == 'tx')">{{template "tx_gohtml" .}}</section>
<section hidden [hidden]="!(tp == 'addr')">{{template "addr_gohtml" .}}</section>
<section hidden [hidden]="!(tp == 'rich')">{{template "rich_gohtml" .}}</section>