<aside>
<div amp-fx="fly-in-right" data-duration="500ms">Info
<form method="GET" action="/search" target="_top"><input type="text" placeholder="Search..." name="src"><input type="submit" value="Search"></form>
</div>
</aside>