:root {
  --color-primary: #4682b4;
  --color-secondary: #3cb371;
  --color-text-light: #fefefe;
  --color-dark: #303030;
  --color-light: #cfcfcf;
  --color-error: #B00020;
  --color-bg-light: #fcfcfc;
  
  --space-02: .12rem;  /* 2px */
  --space-05: .25rem;  /* 4px */
  --space-1: .5rem;  /* 8px */
  --space-2: 1rem;   /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem;   /* 32px */
  --space-5: 2.5rem;   /* 40px */
  --space-6: 3rem;   /* 48px */
  --space-7: 3.5rem;   /* 56px */
  --space-8: 4rem;   /* 64px */

  --box-shadow-1: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  --box-shadow-inset :inset 0 0 0 1px var(--color-secondary);
}

html
{
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, *:before, *:after
{
  box-sizing: border-box;
  margin: 0;
  color:#303030;
}
small{
  color: inherit;
}
pre{
  padding: var(--space-1);
  background-color: var(--color-bg-light);
  box-shadow: var(--box-shadow-inset);
  word-break: break-all;
  white-space: pre-wrap;
  border-radius: var(--space-05);

}

.pd1{
  padding: var(--space-1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 1vh;
}

body {
  display: grid;
  background-color: #cfcfcf;
  min-height: 100vh;
  grid-template-areas: "space-left header space-right"
                        "space-left content space-right"
                        "space-left sidebar space-right"
                        "space-left footer space-right";
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr minmax(400px, 100%) 1fr;
}

@media only screen and (min-width: 500px) {
  body.sidebar {
    grid-template-areas: "header header"
                         "content sidebar"
                         "footer footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 2fr 1fr; /* calc(20 * 16px) */
  }
  body.app-sidebaralt {
    grid-template-areas: "header header"
                         "sidebar content"
                         "footer footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 2fr;
  }
}


aside .content-container { margin: 0 0 0 auto; }
.app-sidebaralt .content-container { margin: 0 auto 0 0; }

aside .sidebar-container { margin: 0 auto 0 0; }
.app-sidebaralt .sidebar-container { margin: 0 0 0 auto; }

header {
  grid-area: header;
  padding: 20px;
  background-color: #303030;
  color: #cfcfcf; 
}
main {
  position: relative;
  grid-area: content;
  padding: 1rem;
}
aside {
  grid-area: sidebar;
  background-color: #cfcfcf;
  padding: 1rem;
}

footer {
  grid-area: footer;

  padding: 20px;
  color: #cfcfcf;
  background-color: #303030;
}


button{
  padding: 0.38rem;
  box-shadow:var(--box-shadow-inset);
  color:var(--color-light);
  background-color: var(--color-dark);
  line-height: 1rem;
  text-decoration: none;
  vertical-align: middle;
  border-radius: var(--space-05);
  border: none;
  box-sizing: border-box;
cursor: pointer;
}
button.block{
  padding: var(--space-1);
  background-color: var(--color-secondary);
  font-size: 1rem;
  line-height: 1.38rem;
  color:#fff;
  border-radius: var(--space-05) var(--space-05) 0 0;

}
button.txs{
  background-color: var(--color-primary);
 color:#fff;
 margin-right: var(--space-1);
padding: var(--space-02);
}
button.tx{
  background-color: var(--color-primary);
 color:#fff;
margin: var(--space-1);
}
button.addr{
  margin:0;
  color:var(--color-primary);
}

button.add{
  margin: 1rem;

}
button.coin{
  display: flex;
  width: calc(100% - 2rem);
justify-content: space-between;
  flex:1;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.62rem;
}

button:hover{
  box-shadow:inset 0 0 0 1px #fff;
}

time{
  font-size: .62rem;
}
section{
display: flex;
flex-direction: column;
justify-content: space-between;

background: #eee;
box-shadow:inset 0 0 0 1px #303030;
border-radius: var(--space-1);
}

time{
  color:#3030cf;
}




.blocktxs{
  padding: 0 1rem;
}







table, tbody{
  width: 100%;
}
  table{
  padding:0 var(--space-1);
}

tr{
  box-shadow:0 1px 0 0 #303030;
}

td{
  padding: var(--space-1) 0;
}


h1, h2, h3, h4, h5, h6{
  width: 100%;
  padding: var(--space-1);
}



.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}





form{
  padding: 1rem
}
fieldset{
  display: flex;
  border: none;
}
label{
  display: flex;
 flex-direction: column;
 padding-bottom: var(--space-1);
}





.coin{
  display: flex;
  justify-content: space-between;
}







amp-list.paged-amp-list {
  min-width: 320px;
}
@media (min-width: 320px) {
  amp-list.paged-amp-list {
    min-width: 260px;
  }
}
@media (min-width: 480px) {
  amp-list.paged-amp-list {
    min-width: 480px;
  }
}
@media (min-width: 600px) {
  amp-list.paged-amp-list {
    min-width: 600px;
  }
}
.info {
  text-align: right;
  padding: var(--space-2) var(--space-2) 0;
}
.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: var(--space-2);
}
.item {
  display: flex;
flex: 1 0 calc(100% - var(--space-4));
  justify-content: space-between;
  justify-content: space-between;
  
  background: var(--color-bg-light);
  
  border-radius: 5px;
  overflow: hidden;


      margin:var(--space-1) var(--space-2) 0;
   
    box-shadow:var(--box-shadow-inset);
    border-radius: var(--space-1);
    align-items: center;
  
}
.item > .title,
.item > .copy {
  margin: var(--space-1);
}
.image {
  max-width: 100%;
}
.item > .image > img {
  object-fit: cover;
  object-position: center;
}


[overflow] {
  left: 1px;
  right: 1px;
  width: calc(100% - 2px);
  height: var(--space-8);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), #eee, #eee);
}
[overflow] button {
  position: absolute;
  bottom: var(--space-1);
  left: var(--space-2);
  right: var(--space-2);
  width: calc(100% - 2 * var(--space-2));
  border: 0;
  padding: var(--space-1) var(--space-2);
  cursor: pointer;
}
.nav {
  display: flex;
  padding:0 var(--space-2);
  margin: var(--space-2) 0;
}
.prev,
.next {
  
  flex: 1 0 0;
  cursor: pointer;
}
.next {
  margin-left: auto;
}
.prev {
  margin-right: auto;
}
amp-list div[role="list"] {
  display: grid;
  grid-gap: 0.5em;
}